<div class="time-progress" (click)="routeToQueuePage()">
  <div class="d-flex justify-content-center">
    <span class="font-weight-bold text-shadow text-black-50">Waiting Time</span>
  </div>
  <circle-progress
  [percent]="waitingPercent"
  [maxPercent]="100"
  [title]="(waitingTime | async) ? (waitingTime | async) : 0"
  [titleFontSize]="28"
  [titleFontWeight]="700"
  [showSubtitle]="false"
  [units]="'min'"
  [unitsFontSize]="'16'"
  [radius]="55"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [backgroundPadding]="0"

  [backgroundColor]="'#eeeeee'"
  [backgroundOpacity] = "0.95"
  [outerStrokeColor]="'#fff900'"
  [outerStrokeGradient]="true"
  [outerStrokeGradientStopColor]="'#fdb900'"
  [innerStrokeColor]="'#ffefc2'"

  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
