.bottom-bar {
  height: 55px;
  background-color: #343a40;
}

#bottom-toolbar i {
  font-size: x-large;
}

#bottom-toolbar label {
  font-size: x-small;
}
#bottom-toolbar > div {
  color: RGBA(255, 255, 255, 0.8);
}

.selectedTab {
  color: #ffd001 !important;
  font-weight: 900;
}

/* @supports ((background-clip: text) or (-webkit-background-clip: text)) and
  (-webkit-text-fill-color: transparent) {
    .selectedTab {
    background-image: linear-gradient(#ffa500, #ffff00);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
} */
