<ons-bottom-toolbar>
  <div class="h-100">
    <div class="row d-flex m-1" id="bottom-toolbar">
      <div class="col col-3 d-flex flex-column justify-content-end align-items-center"
            (click)="switchTab(0)"
            [class.selectedTab]="navTabs[0].isSelected">
        <i class="bi bi-house-door"></i>
        <label class="text-capitalize">{{navTabs[0].name}}</label>
      </div>

      <div class="col col-3 d-flex flex-column justify-content-end align-items-center"
            (click)="switchTab( 1)"
            [class.selectedTab]="navTabs[1].isSelected">
        <i class="bi bi-heart"></i>
        <label>{{navTabs[1].name | titlecase}}</label>
      </div>

      <div class="col col-3 d-flex flex-column justify-content-end align-items-center"
            (click)="switchTab(2)"
            [class.selectedTab]="navTabs[2].isSelected">
        <i class="bi bi-list-nested"></i>
        <label>{{navTabs[2].name | titlecase}}</label>
      </div>

      <div class="col col-3 d-flex flex-column justify-content-end align-items-center"
            (click)="switchTab(3)"
            [class.selectedTab]="navTabs[3].isSelected">
        <i class="bi bi-person"></i>
        <label>{{navTabs[3].name | titlecase}}</label>
      </div>
    </div>
  </div>
</ons-bottom-toolbar>
