<div class="header">
  <span class="m-2" (click)="backToHome()">
    <i class="bi bi-chevron-left font-weight-bold icon-larger text-shadow"></i>
  </span>
  <label class="m-1">{{merchant?.name}}</label>
  <label class="queueCount">
    <span class="iconify" data-icon="mdi:human-queue" data-inline="false"></span>
    {{queueCount | async}}
  </label>
</div>

<div class="header-location">
  <label class="m-0">@{{merchant?.area}}</label>
</div>

<div class="sub-header">
  <label class="text-warning">{{'★'.repeat(+getRating().toFixed(0))}}</label>
  <label class="text-warning">{{'☆'.repeat(5 - +getRating().toFixed(0))}}</label>
  <label>{{getRating() | number: '1.1-1'}}</label>
  <label>{{waitingTime | async}} mins</label>
</div>

<div class="banner m-2">
  <img class="shadow" [src]="merchant?.setting?.bannerImageUrl" [alt]="merchant?.name">
</div>

<div class="m-2 mt-3">
  <div class="product-header">
    Popular Cuisines
  </div>
  <div class="product-box bg-white p-2">
    <div *ngFor="let p of merchant?.products">
      <img [src]="p.imageUrl" [alt]="p.name" class="shadow">
    </div>
  </div>
</div>

<div class="m-2 mb-3">
  <div class="review-header">
    Reviews
  </div>
  <div class="review-box bg-white p-2">
    <div *ngFor="let r of merchantReviews" class="review-item border-bottom">
      <img [src]="r.userProfilePicUrl">
      <div>
        <div class="review-rating">
          <label class="text-warning">{{'★'.repeat(r.rating)}}</label>
          <label class="text-warning">{{'☆'.repeat(5 - r.rating)}}</label>
        </div>
        <div class="review-content">
          <label>{{r.content}}</label>
        </div>
      </div>
    </div>
    <div class="btn-addReview bg-warning" (click)="openModal(addReviewModal)" *ngIf="userId | async">
      <span>Add Review</span>
    </div>
  </div>
</div>

<ng-template #addReviewModal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="addReview-rating">
      <ngb-rating [max]="5" [(rate)]="newReview.rating">
        <ng-template let-fill="fill" let-index="index">
          <span class="star h4"  [class.text-warning]="fill === 100" [class.text-black-50]="fill != 100">★</span>
        </ng-template>
      </ngb-rating>
      <span>{{newReview.rating}}</span>
    </div>
    <div class="addReview-content mt-2">
      <textarea class="form-control" placeholder="Leave your comment here..."
        [(ngModel)]="newReview.content" #message='ngModel'></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveReview()">Save</button>
  </div>
</ng-template>


<div class="btn-queue" (click)="queue()">
  <i class="fas fa-street-view fa-5x"></i>
  <label>Queue</label>
</div>
