.nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* border-right: 10px solid transparent; */
  /* border-left: 10px solid transparent; */
}

.nav .cat-item {
  display: grid;
  /* border-radius: 10px; */
  margin: 0px 15px;
  text-align: center;
  align-items: center;
  height: 90px;
  width: 70px;
  padding: 0px;
  /* background-color: #ffffff; */
  text-shadow: 1px 1px 5px #bfbfbf;
  /* box-shadow: 1px 1px 5px #bfbfbf; */
}

.nav .cat-item:last-child {
  padding-right: 10px;
}

.nav .cat-item > svg{
  font-size:  50px;
  filter: drop-shadow( 1px 1px 5px #bfbfbf);
  margin: auto;
}

.nav .cat-item > label {
  margin: 0px;
  font-size: small;
  font-weight: 500;
  color: #666666;
  word-break: keep-all;
}

@media only screen and (min-width: 768px) {
  .nav {
    justify-content: center;
  }
}
