.bg-app-primary {
  background-color: #FFAC01;
}

.bg-app-primary-dark {
  background-color: rgb(224, 165, 1);
}

.bg-app-primary-light {
  background-color: #f3db00;
}

.bg-app-primary-gradient {
  background-image: linear-gradient(#ff8800, #f3db00);
}

.text-app-primary {
  color: #FFAC01;
}

.text-app-primary-dark {
  color: rgb(224, 165, 1);
}

.text-app-primary-gradient {
  color: #FFAC01;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) and
  (-webkit-text-fill-color: transparent) {
    .text-app-primary-gradient {
    background-image: linear-gradient(#ffa500, #ffff00);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.blur-mask {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.cursor-hand {
  cursor: pointer;
}

.icon-stroke-white {
  color: white;
  -webkit-text-stroke: 1px #000000;
}

.stack-z1 {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.text-shadow {
  text-shadow: 1px 1px 5px #bfbfbf;
}

.fake-page {
  width: min(100vw, 400px);
  height: min(100vh, 800px);
}
