.account-header,
.account-body {
  background-color: #ffffff;
  width: 100vw;
  font-size: 20px;
}

.account-header {
  padding: 20px 10px;
}

.account-header .profile {
  display: flex;
}

.account-header .profile > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.account-header .profile .userName {
  align-self: center;
}

.account-header .profile .userName div:first-of-type {
  font-weight: 700;
}

.account-header .profile .userName div:nth-of-type(2) {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-header .level {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 0px 15px;
}

.account-body {
  margin-top: 15px;
}

.account-body > .body-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 15px;
  border-bottom: 1px #cccccc solid;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 45vh;
  margin-bottom: 200px;
}

.login > .button {
  width: 150px;
  text-align: center;
  font-weight: 600;
}

.version {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #aaaaaa;
}
